/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ajuste para que o conteúdo comece abaixo do cabeçalho */
    height: 100vh;
    flex-direction: column;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 20px 0; /* Ajuste para diminuir o tamanho do cabeçalho */
}

header h1 {
    margin: 0;
}

header p {
    font-size: 1.2rem;
}

/* Botões */
.botao-conferir, .botao-login {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}


.botao-conferir:hover, .botao-login:hover {    
        background: #218838;
        transform: scale(1.05);
    
}

/* Estilos para a seção de ingresso */
.conteiner {
    margin-top: 120px; /* Distância para que o conteúdo comece abaixo do cabeçalho fixo */
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.ingresso {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

/* Formatação do título do formulário */
.ingresso h2 {
    text-align: center;
}

/* Estilos para os rótulos e inputs */
.ingresso label {
    display: block;
    margin: 10px 0 5px;
}

.ingresso input,
.ingresso select {
    width: 100%;
    padding: 10px;
    margin: 0px 0 -10px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   display: flex;
   justify-content: space-around;
}
/* Ajuste específico para o campo de data */
.ingresso input[type="date"] {
    padding: 5px;/* Menor padding */
    font-size: 0.9rem; /* Menor fonte */
    margin-bottom: 15px; /* Ajuste a margem inferior */
    height: 30px;
    width: 130px;
}
/* Estilo para o botão do formulário */
.ingresso button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ingresso button:hover {
    background-color: #45a049;
}

/* Responsividade */
@media (max-width: 390px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 1rem;
    }

    .conteiner {
        padding: 5px;
    }

    .ingresso {
        padding: 5px;
    }

    /* Ajustes para os campos de entrada */
    .ingresso input,
    .ingresso select,
    .ingresso button {
        font-size: 0.9rem;
        padding: 8px;
    }
}
